@CHARSET "GB2312";

.getCondition {
	background-image: url(../images/topPanel/codition.png)
}

.showfield {
	background-image: url(../images/topPanel/fields.png)
}

.preview {
	background-image: url(../images/topPanel/preview.png)
}

.print {
	background-image: url(../images/topPanel/printer.png)
}

.exportGridToExcel {
	background-image: url(../images/topPanel/toExcel.png)
}

.exportGridToTxt {
	background-image: url(../images/topPanel/txt.png)
}

.showDataByChart {
	background-image: url(../images/topPanel/chart.png)
}

.operate {
	background-image: url(../images/operate.png)
}

.exit {
	background-image: url(../images/exit.png)
}

.customTrigger {
    background-image: url("../images/customTrigger.gif")
}

